.container {
    .desc {
        padding: 20px 0;
    }

    button {
        cursor: pointer;
        background: #00081C;
        width: 100%;
        border: 1px solid #00081C;
        border-radius: 2px;
        text-align: center;
        min-height: 40px;
        padding: 16px 20px;
        background-color: #00081C;
        color: #CDBC7A;
        text-transform: uppercase;
        transition: background-color 300ms cubic-bezier(0.19,1,0.22,1);
        &:hover {
            border-color: #273751;
            background-color: #273751;
        }
    }
}
